.ham {
  &_list {
    list-style: none;
    padding: 1rem;
    background-color: white;
    position: relative;
    top: 7rem;
    width: 10rem;
    li {
      font-weight: bold;
      padding: 1rem 0;
      a {
        text-decoration: none;
        color: black;
        padding: 0.5rem 1rem;
        position: relative;
      }
    }
  }
}
.fa-bars {
  position: absolute;
  right: 0;
  font-size: 2rem;
  padding-right: 1.5rem;
  color: var(--sage);
  z-index: 9;
}
