.ham {
  &_list {
    list-style: none;
    padding: 1rem;
    background-color: white;
    position: relative;
    top: 4rem;
    li {
      font-weight: bold;
      padding: 1rem 0;
      a {
        text-decoration: none;
        color: black;
        padding: 1rem 1rem;
      }
    }
  }
}
