.atr {
  &_wrapper {
    width: 70%;
    margin-top: 5rem;
  }
  &_nav {
    list-style: none;
    display: flex;
    // font-size: 1.2rem;
    margin-bottom: 0;
  }
  &_navlink {
    padding: 12px 18px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--sage);
    box-shadow: 0 2px 3px #c7c7c7, -2px -2px 3px #f9f9f9;
    color: var(--lightSage);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    &:hover {
      background-color: var(--lightSage);
      color: var(--sage);
      border: none;
      box-shadow: -1px -1px 1px #f9f9f9;
    }
  }
  &_active {
    background-color: var(--lightSage);
    color: var(--sage);
    border: none;
    box-shadow: -1px -1px 1px #f9f9f9;
  }
  &_content {
    margin-top: 0;
    padding: 2rem;
    width: 100%;
    min-height: 40rem;
    box-shadow: 0px 9px 14px -4px var(--darkGreen);
    border-radius: 30px;
    background-color: var(--lightSage);
  }
}
