@keyframes textLineAnimation {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.cabin {
  width: 100vw;
  &_animate {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &_title {
    color: var(--sage);
    font-size: 2rem;
    margin-bottom: 1rem;
    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    &-line {
      position: absolute;
      width: 30%;
      height: 1px;
      bottom: 0;
      z-index: 9;
      background-color: var(--sage);
      transform-origin: center;
      margin-top: 1rem;
    }
  }
  &_wrapper {
    width: 100%;
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: var(--sage);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
    width: 70%;
    padding: 2rem;
    background-color: var(--lightSage);
    border-radius: 30px;
    box-shadow: 0px 9px 14px -4px var(--darkGreen);
  }
  &_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.7rem;
  }
  &_details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.3rem;
    svg {
      width: 3rem;
      font-size: 1.5rem;
      color: var(--sage);
    }
  }
  &_facilities {
    ul {
      column-count: 2;
      column-gap: 2rem;
      list-style: none;
      padding: 0;
      li {
        svg {
          color: var(--sage);
          font-size: 1.5rem;
          padding-right: 0.8rem;
        }
      }
    }
  }
  &_img {
    width: 50%;
    img {
      width: 100%;
    }
  }

  &_gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
      color: var(--lightSage);
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &-titleWrapper {
      position: relative;
      width: 100%;
    }
    &-line {
      position: absolute;
      width: 30%;
      height: 1px;
      bottom: 0;
      z-index: 9;
      background-color: var(--lightSage);
      transform-origin: center;
      margin-top: 1rem;
    }
  }
}

.line-grow-enter {
  transform: scaleX(0);
}
.line-grow-enter-active {
  transform: scaleX(1);
  animation: textLineAnimation 1.6s ease 0s 1 reverse none;
}

.line-grow-exit {
  transform: scaleX(1);
}
.line-grow-exit-active {
  transform: scaleX(0);
}

@media screen and (max-width: 1200px) {
  .cabin {
    &_content {
      width: 80%;
    }
  }
}

@media screen and (max-width: 768px) {
  .cabin {
    &_content {
      flex-direction: column;
      row-gap: 1rem;
    }
    &_img {
      width: 80%;
    }
  }
}

@media screen and (max-width: 425px) {
  .cabin {
    &_content {
      padding: 1rem;
    }
    &_title {
      font-size: 1.5rem;
    }
    &_details {
      font-size: 1.2rem;
      svg {
        width: 2rem;
        font-size: 1.2rem;
      }
    }
    &_facilities {
      ul {
        column-gap: 1rem;
        font-size: clamp(0.8rem, 1vw, 1rem);
        li {
          svg {
            color: var(--sage);
            font-size: 1rem;
            padding-right: 0.4rem;
          }
        }
      }
    }
  }
}
