.cabin {
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  &_details {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    svg {
      width: 5rem;
      font-size: 1.5rem;
      color: var(--sage);
    }
  }
  &_img {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
