@keyframes textLineAnimation {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.cabin {
  &_title {
    color: var(--sage);
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    &::after {
      content: '';
      position: absolute;
      width: 90%;
      transform: scaleX(1);
      height: 1px;
      bottom: 0;
      animation: textLineAnimation 1.6s ease 0s 1 reverse none;
      z-index: 9;
      background-color: var(--sage);
    }
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  &_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.7rem;
  }
  &_details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.3rem;
    svg {
      width: 3rem;
      font-size: 1.5rem;
      color: var(--sage);
    }
  }
  &_facilities {
    ul {
      column-count: 2;
      column-gap: 2rem;
      list-style: none;
      li {
        &::before {
          content: '';
          display: inline-block;
          background-image: url('../images/arrow.png ');
          background-size: contain;
          background-repeat: no-repeat;
          width: 1rem;
          height: 1rem;
          margin-right: 8px; /* Odstęp między obrazem a tekstem */
          vertical-align: middle;
        }
      }
    }
  }
  &_img {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
