.contact {
  &_title {
    color: var(--sage);
    font-size: 3rem;
    text-align: center;
  }
  &_wrapper {
    display: flex;
    justify-content: space-around;
    ul {
      list-style: none;
      padding: 2rem;
      li {
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        position: relative;
        &:before {
          content: '';
          height: 1px;
          width: 130%;
          position: absolute;
          bottom: 0;
          background-color: var(--sage);
        }
        > *:first-child {
          color: var(--sage);
          font-size: 2rem;
        }

        p {
          padding-left: 1.5rem;
        }
      }
    }
  }
  &_imgWrapper {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_socials {
    display: flex;
    column-gap: 2rem;
    a {
      width: 3rem;
      img {
        width: 100%;
      }
    }
  }
}
