.contact {
  &_title {
    color: var(--sage);
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    &::after {
      content: '';
      position: absolute;
      width: 90%;
      transform: scaleX(1);
      height: 1px;
      bottom: 0;
      animation: textLineAnimation 1.6s ease 0s 1 reverse none;
      z-index: 9;
      background-color: var(--sage);
    }
  }
  &_wrapper {
    display: flex;
    justify-content: space-around;
    ul {
      list-style: none;
      padding: 2rem;
      li {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        position: relative;
        &:before {
          content: '';
          height: 1px;
          width: 130%;
          position: absolute;
          bottom: 0;
          background-color: var(--sage);
        }
        > *:first-child {
          color: var(--sage);
          font-size: 2rem;
        }

        p {
          padding-left: 1.5rem;
        }
      }
    }
  }
  &_imgWrapper {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_socials {
    display: flex;
    column-gap: 2rem;
    a {
      width: 3rem;
      img {
        width: 100%;
      }
    }
  }
}
