:root {

/* colors  */

--darkGreen: #102212;
--rose: #c2a3a3;
--sage: #a4c3b2 ;
--lightSage: #F1F4E1;
--white: #FFFFFF;
--black: #000000;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
z-index: 100;
background-color: white;
opacity: .9;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}