:root {

/* colors  */

--darkGreen: #102212;
--pink: #F8C7CC;
--sage: #8FB7A1 ;
--lightSage: #F1F4E1;
--white: #FFFFFF;
--black: #000000;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}