:root {

/* colors  */

--darkGreen: #102212;
--pink: #F8C7CC;
--sage: #8FB7A1 ;
--lightSage: #F1F4E1;
--white: #FFFFFF;
--black: #000000;

}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}